* {
    padding: 0;
    margin: 0;
}

.background {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 82, 79);
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {  
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); 
    place-content: center; 

}

.tile {
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
    background-image: url(/X.png);
    background-size: contain;
}

.playerO {
    color: #498AFB;
    background-image: url(/O.png);
    background-size: contain;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}


#reset {
    background-color:red;
}
#prev{
    background-color:blue;
}
#next{
    background-color:green;
}