body {
    color:black;
    text-align: center;
}
main{
  background-image:url(/bg.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
}
.header{
  grid-area:header;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.list-name{
    color:green;
    list-style-type: none;
}

.active-list{
    font-weight: bold;
    font-size:30px;
}

.bg-container{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    background-size: cover;
    z-index:-1;
    width: 100%;
    height: auto;
}
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(2);
  }
  
  .modal-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:15px;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .grid{
    display:grid;
    grid-template-areas:
    'header header header header header header header'
    'header header header header header header header'
    'list task . . . . time'
    'list task focus . . . time'
    'quote . focus . . . . '
    'footer footer footer . . . .';
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
}

.footer{
  grid-area: footer;
}
.all-tasks{
  grid-area: list;
}
.focusContainer{
  grid-area: focus;
}
.quote-container{
  grid-area: quote;
  display:flex;
  flex-direction: column;
}
.todo-list{
  grid-area: task;
}
.greetings{
  grid-area:greeting;
  font-size:40px;
  color:black;
}
.hide{
  visibility:hidden;
}
.clock{
  grid-area: time;
}
.reveal{
  visibility:visible;
}
.user{
  text-align: center;
}